h1{
    font-family:'Courier New', Courier, monospace
    color rgb(31, 79, 4)

}

body{
    background-color: rgb(202, 227, 122); 
}
h2{
    color: rgb(31, 79, 4);
}

button{
    background: radial-gradient(rgb(250, 250, 92),rgb(54, 162, 54));
    border-color: green;
    border-width: 40%;
       
}
input[type="button"]{
    background: linear-gradient(rgb(250, 250, 92),rgb(54, 162, 54));
    border-color: green;
    border-radius: 15%;

}