div.container-fluid{
    background-color: rgb(228, 223, 223);
    background-size: cover;
   
   
    
   
    overflow: hidden;
}

div.card{
    display:inline-block ;
    margin-left: 17%;
    margin-top: 5%;
    
}

h1{
    font-family: Calligraffitti;
    margin-left: 40%;
   
    color: rgb(222, 182, 39);
}
